// input[type="email"] {
//     border-radius: 7px;
//     // border-color: green;
// }

#e:focus:valid {
    border-radius: 7px;
    border-color: green;
}
#e:focus:valid {
    border-radius: 7px;
    border-color: green;
}
#e:focus:valid {
    border-radius: 7px;
    border-color: green;
}
#e:focus:valid {
    border-radius: 7px;
    border-color: green;
}
#e:focus:valid {
    border-radius: 7px;
    border-color: green;
}
#e:focus:valid {
    border-radius: 7px;
    border-color: green;
}
#e:focus:valid {
    border-radius: 7px;
    border-color: green;
}